<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:windowSoftInputMode="stateAlwaysHidden"
    package="com.hanul.alcoholic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_sample2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_sample2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Alcoholic">
        <activity
            android:name=".Registe.LoginActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registe.RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".fastscroll_listview"
            android:exported="false" />
        <activity
            android:name=".API_Ingredient"
            android:exported="false"
            android:theme="@style/Theme.Alcoholic.NoActionBar"/>
        <activity
            android:name=".API_Recipe"
            android:exported="false"
            android:theme="@style/Theme.Alcoholic.NoActionBar"/>


        <activity
            android:name=".MainActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Alcoholic.NoActionBar">
        </activity>
        <activity
            android:name=".Community_writing"
            android:exported="false"
            android:label="@string/menu_community"
            android:theme="@style/Theme.Alcoholic.NoActionBar"> </activity>
        <activity
            android:name=".Community_post"
            android:exported="false"
            android:theme="@style/Theme.Alcoholic.PostBar"> </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>